﻿@model NSABP_Model_BO_.checkboxes_BO
<div class="editor-label">
    <input type="checkbox" checked=@Model._isChecked name="forms" value=@Model.ID class="col-md-1" />
    @*@Html.CheckBoxFor(c => c._isChecked,c=>c.name)*@

    @Html.HiddenFor(c => c.ID)
    @Html.HiddenFor(c => c.Name)
    @Html.DisplayFor(c => c.Name)
</div>