﻿@model NSABP_Model_BO_.FormEntry_BO



<div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="form-group row">
        @Html.LabelFor(model => model.SiteID, htmlAttributes: new { @class = "control-label col-md-3 color required" })
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.SiteID, new SelectList(Model.List_Sites, "SiteID", "SiteID"), "--select--", new { @class = "form-control col-md-10" })
        </div>
        @Html.LabelFor(model => model.Site_Name, htmlAttributes: new { @class = "control-label col-md-3 color" })
        <div class="col-md-3">
            @Html.TextBoxFor(Model => Model.Site_Name, new { @class = "form-control col-md-12", @readonly = "readonly" })
        </div>
        <script>

                $(document).ready(function () {
                    debugger;
                    $("#SiteID").change(function () {
                        $("#Site_Name").empty();
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("getSiteName")',
                            datatype: 'JSON',
                            data: { id: $("#SiteID").val() },
                            success: function (sitename) {

                                $("#Site_Name").val(sitename);
                                var value = $("#SiteID").val();
                                if (value.length != 8) {
                                    var list = value.split('-');
                                    if (list[0].length == 3 && list[1].length == 2)
                                        value = '0' + value.substr(0, 4) + '0' + value.substr(4, 6)
                                    else if (list[0].length == 4 && list[1].length == 2)
                                        value = value.substr(0, 5) + '0' + value.substr(5, 7)
                                    else if (list[0].length == 3 && list[1].length == 3)
                                        value = value = '0' + value.substr(0, 4) + value.substr(4, 7)
                                }
                                $("#PatientID_Part3").val(value);

                            },
                            error: function (ex) {
                                alert("Failed to load sites" + ex);
                            }
                        });
                    });
                });
        </script>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.PatientID, htmlAttributes: new { @class = "control-label col-md-3 color required" })
        <div class="col-md-2">
            @Html.TextBoxFor(Model => Model.PatientID_Part1, new { @class = "form-control col-md-12", Value = @Session["Protocol_Code"], @readonly = "readonly" })
        </div>-
        <div class="col-md-2">
            @Html.TextBoxFor(Model => Model.PatientID_Part2, new { @class = "form-control col-md-12", @onkeypress = "return  validateNumbersOnly(event,this.id);" })
        </div>-
        <div class="col-md-2">
            @Html.TextBoxFor(Model => Model.PatientID_Part3, new { @class = "form-control col-md-12", @readonly = "readonly" })

        </div>

    </div>

    <div class="form-group row">

        @Html.LabelFor(model => model.Consent_Date_Shipped, htmlAttributes: new { @class = "control-label col-md-3 required" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Consent_Date_Shipped, new { htmlAttributes = new { @class = "form-control col-md-3 mydatepicker" } })

        </div>
    </div>
    <h4>Patient Status</h4>
    <hr />
    <div class="form-group row">
        @Html.LabelFor(model => model.Patient_Status, htmlAttributes: new { @class = "control-label col-md-3 color required" })
        <div class="col-md-9">

            @Html.DropDownListFor(model => model.Patient_Status, new List<SelectListItem>
            {

                new SelectListItem{ Text="Screen Failure", Value = "Screen Failure" },
                new SelectListItem{ Text="Enrolled", Value = "Enrolled" }

             }, "-select-", new { @class = "form-control col-md-3" })
        </div>
    </div>
    <div class="form-group row">

        @Html.LabelFor(model => model.EntryDate, htmlAttributes: new { @class = "control-label col-md-3 required" })

        <div class="col-md-9">
            @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control col-md-3 mydatepicker" } })
        </div>
    </div>


</div>




<script>
    //$(function () {
    $(document).ready(function () {
        $('#Consent_Date_Shipped').datepicker({
            autoclose: true,
            endDate: 'today'
            //format: 'dd/mm/yyyy'
        }).on('changeDate', function (selected) {
            var startDate = new Date(selected.date.valueOf());
            $('#EntryDate').datepicker('setStartDate', startDate);
        });
            $('#EntryDate').datepicker({
                autoclose: true,

                endDate: 'today'
                //format: 'dd/mm/yyyy'
            });
        });
    //});
</script>
<script>
        function validateNumbersOnly(e, id) {
            debugger;

            var value = $('#' + id).val();
            if (value.length < 3) {
                var unicode = e.charCode ? e.charCode : e.keyCode;
                if ((unicode == 8) || (unicode == 9) || (unicode > 47 && unicode < 58)) {
                    return true;
                }
                else {

                    return false;
                }
            }
            else {
                return false;
            }
        }
</script>


