﻿@{
    ViewBag.Title = "Create Form FT";

    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    if (Session["Role_Name"].ToString() == "SiteUser")
    {
        ViewBag.Create_Details_URL = "/Form_FT/GetFormFT_Details";
        ViewBag.Create_Details = "Details";
    }

}

<div class="page-content">
    <div class="panel ">
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-1 "></div>
                <div class="col-md-9">
                    @Html.Partial("P_FormFT_Add")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#shippingdiv *").prop('disabled', true);
        $(".close").click(function () {
            $("#shippingdiv *").prop('disabled', false);
            $("#myAlert").alert("close");
        });
    });
</script>








