﻿@model NSABP_Model_BO_.FormEntry_BO
@{
    /**/

    ViewBag.Title = "Form Entry";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

    ViewBag.Create_Details_URL = "/FormEntry/FormEntryDetails";
    ViewBag.Create_Details = "Details";

}
<form id="testform">


    <div class="panel-body">       
        <div class="row " id="FormBody">
            <div class="col-md-1"></div>
            <div class="col-md-9 ">
                @Html.Partial("~/Views/FormEntry/PartialViews/P_FormEntry.cshtml", Model)
            </div>
        </div>
        <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-9 ">
                <input type="button" value="Save" id="btnSave" class="btn btn-info" />&nbsp; &nbsp;
                <input type="button" value="Cancel" class="btn btn-info" onclick="window.location.reload();" />
            </div>
        </div>

    </div>
</form>
<script>
    $(document).ready(function () {

        $('#btnSave').click(function () {

              if ($('#SiteID :selected').val()== 0) {
                  alert("Please select site");
                  $('#SiteID').focus();
                  return;
              }
            if ($('#PatientID_Part2').val().trim() == '') {
                alert("Please enter PatientID");
                $('#PatientID_Part2').focus();
                return;
            }
            if ($("#Consent_Date_Shipped").val().trim() == '') {
                alert("Please enter consent shipped date");
                $("#Consent_Date_Shipped").focus();
                return;
            }
           
            if ($("#Patient_Status :selected").val() == 0) {
                alert("Please select patient status");
                $("#Patient_Status").focus();
                return;
            }
            if ($('#EntryDate').val().trim() == '') {
                alert("Please enter date enrolled");
                $('#EntryDate').focus();
                return;
            }
            
            debugger;
            var data = {
              
                EntryDate: $('#EntryDate').val(),
                Patient_Status: $('#Patient_Status option:selected').text(),
                Consent_Date_Shipped: $('#Consent_Date_Shipped').val(),
                SiteID: $('#SiteID option:selected').text(),
                Site_Name: $('#Site_Name').val(),
                PatientID_Part1: $('#PatientID_Part1').val(),
                PatientID_Part3: $('#PatientID_Part3').val(),
                PatientID_Part2: $('#PatientID_Part2').val()
                //dateShippedToDivisionOfPathology: $('#dateShippedToDivisionOfPathology').val()

            }

            $.post("/FormEntry/FormEntry", data, function (data) {
                if (data.status == 'success') {
                    $("#FormBody *").prop('disabled', true);
                    $("#btnSave").attr('disabled', 'disabled');
                    window.location.href = '@Url.Action("/FormEntryDetails/FormEntry")';
                    alert("saved successfuly");
                }
                else {
                    alert('Invalid Operation');
                }
               
            });
        });
    });
</script>





