﻿
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="panel-body">
    <div class="row ">

        <div class="col-md-3 ">
            <div class="form-group row">
                <div class="input-daterange input-group" id="date-range1">
                    <input type="text" class="form-control" id="dtstart1" name="start" />
                    <div class="input-group-append">
                        <span class="input-group-text bg-info b-0 text-white">TO</span>
                    </div>
                    <input type="text" class="form-control" id="dtend1" name="end" />
                </div>

            </div>
        </div>
        <div class="col-md-1 ">
            <button type="button" id="btnGo" class="btn waves-effect waves-light btn-rounded btn-outline-info">Go</button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="tblReport" class="table nowrap  table-hover">
        <thead>
            <tr>

                <th>ID </th>
                <th >Form ID </th>
                <th>Site ID </th>
                <th>Site Name </th>
                <th> Patient ID </th>
                <th>LabNumber </th>
                <th>Storage No </th>
                <th>Created By </th>
                <th>Created On</th>
                <th>Shipping Company</th>
                <th>Tracking Number </th>
                <th>Receieved By</th>
                <th>Received On</th>

            </tr>
        </thead>

    </table>
</div>
<script>

    $(document).ready(function () {
      
        GetData();

        $("#btnGo").click(function () {
            debugger;
            $(".preloader").show();
            $('#tblReport').DataTable().destroy();
            GetData();
            $(".preloader").hide();
        });


    })
    function GetData() {
        $.ajax({
            url: "/Reports/GetReports",
            type: "POST",
            datatype: "json",
            data: { startdate: $("#dtstart1").val(), enddate: $("#dtend1").val() },
            success: function (d) {
                var tbl = $('#tblReport').DataTable({
                    data: d.data,
                    dom: 'Bfrtip',

                    "bFilter": true,

                    "columns": [
                        { 'data': 'ID','visible':false },
                        { 'data': 'FormID' },
                        { 'data': 'SiteID' },
                        { 'data': 'SiteName' },
                    { 'data': 'PatientID' },
                    { 'data': 'LabNumber' },
                        { 'data': 'StorageNo' },
                          { 'data': 'CreatedBy' },
                    { 'data': 'CreatedOn' },
                        { 'data': 'ShippingCompany' },
                         { 'data': 'TrackingNumber' },
                    { 'data': 'ReceievedBy' },
                        { 'data': 'ReceivedOn' },

                    ],
                    buttons: [
                 'excel', 'print'
                    ]
                })
                $('.buttons-print,.buttons-excel').each(function () {
                    $(this).removeClass('dt-button').addClass(' btn btn-info')
                })

            }


        })
    }



</script>
<script>
    jQuery('#date-range1').datepicker({
        toggleActive: true
    });

    //$('.input-daterange-datepicker').daterangepicker({
    //    buttonClasses: ['btn', 'btn-sm'],
    //    applyClass: 'btn-danger',
    //    cancelClass: 'btn-inverse'
    //});
    //$('.input-daterange-timepicker').daterangepicker({
    //    timePicker: true,
    //    format: 'MM/DD/YYYY h:mm A',
    //    timePickerIncrement: 30,
    //    timePicker12Hour: true,
    //    timePickerSeconds: false,
    //    buttonClasses: ['btn', 'btn-sm'],
    //    applyClass: 'btn-danger',
    //    cancelClass: 'btn-inverse'
    //});
    //$('.input-limit-datepicker').daterangepicker({
    //    format: 'MM/DD/YYYY',
    //    minDate: '06/01/2015',
    //    maxDate: '06/30/2015',
    //    buttonClasses: ['btn', 'btn-sm'],
    //    applyClass: 'btn-danger',
    //    cancelClass: 'btn-inverse',
    //    dateLimit: {
    //        days: 6
    //    }
    //});




</script>

