﻿
@model NSABP_Model_BO_.FormBLK_BO

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormBLK Create</title>
</head>
<body>

    <form id="testform">
        <div>
            <div id="div_formblk">

                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Form_BlockID)
                <div class="form-group row">
                    @Html.LabelFor(model => model.SiteID, htmlAttributes: new { @class = "control-label col-md-3 color required" })
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.SiteID, new SelectList(Model.List_Sites, "SiteID", "SiteID"), "--select--", new { @class = "form-control col-md-12" })
                    </div>
                    @Html.LabelFor(model => model.Site_Name, htmlAttributes: new { @class = "control-label col-md-3 color" })
                    <div class="col-md-3">
                        @*@Html.TextBox("SiteName", null, new { @class = "form-control col-md-12", disabled = "disabled" })*@
                        @Html.TextBoxFor(Model => Model.Site_Name, new { @class = "form-control col-md-12", @readonly = "readonly" })

                    </div>

                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.T1_PatientID, htmlAttributes: new { @class = "control-label col-md-3 color required" })
                    <div class="col-md-9">

                        @*@Html.DropDownListFor(model => model.T1_PatientID, new SelectList(Model.list_Patients, "Patient_ID", "Patient_ID"), "--select--", new { @class = "form-control col-md-6" })*@
                        @Html.DropDownListFor(model => model.T1_PatientID, ViewBag.Patients as SelectList, "--select--", new { @class = "form-control col-md-5" })
                        @Html.ValidationMessageFor(model => model.T1_PatientID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <h5>Person completing form</h5>
                <hr />
                <div class="form-group row">
                    @Html.LabelFor(model => model.FormBLK_PersonCompletingForm_FName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FormBLK_PersonCompletingForm_FName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-12" } })
                    </div>
                    @Html.LabelFor(model => model.FormBLK_PersonCompletingForm_LName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FormBLK_PersonCompletingForm_LName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-12" } })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.FormBLK_PersonCompletingForm_Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FormBLK_PersonCompletingForm_Phone, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-12" } })
                    </div>
                    @Html.LabelFor(model => model.FormBLK_PersonCompletingForm_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FormBLK_PersonCompletingForm_Email, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-12" } })
                    </div>
                </div>
                <h5>FFPE Tissue Block Submission (Required)</h5>
                <hr />
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.RadioButtonFor(model => model.isFromDiagnosticBreastBiopsy, true)
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(model => model.isFromDiagnosticBreastBiopsy, false)
                        @Html.Label("No")
                    </div>
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.isFromDiagnosticBreastBiopsy, htmlAttributes: new { @class = "control-label col-md-10 required" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group  card col-md-12">
                        <div class="card-body">
                            @Html.CheckBoxFor(Model => Model.FPPE_FromTheDiagnostiBreastBiopsySpecimen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.FPPE_FromTheDiagnostiBreastBiopsySpecimen, htmlAttributes: new { @class = "control-label required" })<br />
                            (Or)<br />
                            @Html.CheckBoxFor(Model => Model.UnstainedSlidesFromDiagnosticBreastBiopsy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.UnstainedSlidesFromDiagnosticBreastBiopsy, htmlAttributes: new { @class = "control-label required" })
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.FormBLK_Patology_Accession_Number, htmlAttributes: new { @class = "control-label col-md-11 required" })
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.FormBLK_Patology_Accession_Number, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                @{
                    if (Model.List_Blocks != null)
                    {
                        <script> $('#div_Blocks').css('display', 'block');</script> }
                }
                <div class="form-group row card" id="div_Blocks" style="display:none">
                    <div class="card-body required">
                        No. of Blocks:&nbsp;@Html.TextBoxFor(Model => Model.numberOfBlocks, new { @Value = (@Model.numberOfBlocks == 0) ? "" : @Model.numberOfBlocks.ToString(), @class = " col-md-1", type = "number", min = 0 }) (Only One Block is required)
                        <div class="form-group row" id="div_BlockTable">
                            <table align="center" id="tblblock" class="table-bordered  col-md-5">
                                <thead align="center"><tr><th>Block ID</th></tr></thead>
                                <tbody id="blktbody">
                                    @{
                                        if (Model.List_Blocks != null)
                                        {
                                            if (Model.List_Blocks.Count > 0)
                                            {
                                                foreach (var item in Model.List_Blocks)
                                                {
                                                    <tr align="center"><td> <input type="text" class="gridblocks" name="blocks" value=@item.Block_Slide_ID /></td></tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group row card" id="div_Slides" style="display:none">
                    <div class="card-body">
                        No. of Slides:&nbsp;@Html.TextBoxFor(Model => Model.numberOfSlides, new { @class = " col-md-1", type = "number", min = 0 }) (Greater than or equal to 20 required)
                        <div class="form-group row" id="div_SlideTable">
                            <table align="center" id="tblblock" class="table-bordered  col-md-5">
                                <thead align="center"><tr><th>Block ID</th></tr></thead>
                                <tbody id="slidetbody">
                                    @{
                                        if (Model.List_Blocks != null)
                                        {
                                            if (Model.List_Blocks.Count > 0)
                                            {
                                                foreach (var item in Model.List_Blocks)
                                                {
                                                    <tr align="center"><td> <input type="text" class="gridblocks" name="blocks" value=@item.Block_Slide_ID /></td></tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <input type="button" id="btnSave" value="Save" name="Save" class="btn btn-info" />&nbsp; &nbsp;
                        <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-info" />

                        @*<a href="/Form_BLK/FormBLK_Create" class="btn btn-primary">Cancel</a>*@
                    </div>
                </div>
            </div>
            <div id="div_formblk_shippemnt">
                <h5>Shipment Information</h5>
                <div class="form-group row card">
                    <div class="card-body">
                        <div class="form-group row ">
                            @Html.LabelFor(model => model.shippingCompanyID, htmlAttributes: new { @class = "control-label col-md-3 required" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.shippingCompanyID, new SelectList(Model.list_Shipping_Company, "ID", "Company_name"), "--select--", new { @class = "form-control col-md-10" })

                            </div>
                            @Html.LabelFor(model => model.trackingNumber, htmlAttributes: new { @class = "control-label col-md-3 required" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.trackingNumber, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                            </div>
                        </div>

                        <div class="form-group row ">
                            @Html.LabelFor(model => model.dateShippedToDivisionOfPathology, htmlAttributes: new { @class = "control-label col-md-3 required " })
                            <div class="col-md-3 ">
                                @Html.EditorFor(model => model.dateShippedToDivisionOfPathology, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                <i class="icon-calender"></i>
                            </div>
                        </div>

                        <div class="form-group row ">
                            <h6>Print form and ship tumor sample kit overnight delivery to:</h6>
                        </div>
                        <div class="form-group row ">
                            NSABP Foundation, Inc.<br />
                            Division of Pathology<br />
                            1307 Federal Street – Suite 303<br />
                            Pittsburgh PA, 15212<br />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <input type="button" value="Ship Now" name="Ship" id="btnShip" class="btn btn-info" />&nbsp; &nbsp;
                        <input type="button" value="Cancel" name="Cancel" data-dismiss="modal" class="btn btn-info" />

                        &nbsp; &nbsp;
                        <input type="button" value="Print" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </form>



    @{
        if (ViewBag.formstatus == "create")
        {
            <script>
                $("#div_formblk_shippemnt *").prop('disabled', false);
            </script>
        }
        else if (ViewBag.formstatus == "edit")
        {
            <script>
                $("#div_formblk_shippemnt *").prop('disabled', false);
            </script>

        }
    }

    <script>
        $(document).ready(function () {
            $("#SiteID").change(function () {
                $("#Site_Name").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("getSiteName")',
                    datatype: 'JSON',
                    data: { id: $("#SiteID").val() },
                    success: function (data) {
                        $('#T1_PatientID').find('option').remove();
                        $("#Site_Name").val(data.sitename);
                        var optionhtml1 = '<option value="' +
                 0 + '">' + "--Select -" + '</option>';
                        $("#T1_PatientID").append(optionhtml1);

                        $.each(data.Patients, function (i) {

                            var optionhtml = '<option value="' +
                        data.Patients[i].Value + '">' + data.Patients[i].Text + '</option>';
                            $("#T1_PatientID").append(optionhtml);
                        });
                    },
                    error: function (ex) {
                        alert("Failed to load sites" + ex);
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".close").click(function () {
                $("#myAlert").alert("close");
            });
        });
        //datepicker
        $(document).ready(function () {
            $("#dateShippedToDivisionOfPathology").datepicker({
                autoclose: true
            });

        });
        //slideblock
        $("#FPPE_FromTheDiagnostiBreastBiopsySpecimen").change(function () {
            debugger;
            if (this.checked) {
                $('#UnstainedSlidesFromDiagnosticBreastBiopsy').prop('checked', false);
                $("#numberOfSlides").val(0);
                $("#div_SlideTable  #tblblock tbody").html();

                $('#div_Blocks').css('display', 'block');
                $('#div_Slides').css('display', 'none');
            }
            else {
                $('#div_Blocks').css('display', 'none');
            }
        });
        $("#UnstainedSlidesFromDiagnosticBreastBiopsy").change(function () {
            debugger;
            if (this.checked) {
                $('#FPPE_FromTheDiagnostiBreastBiopsySpecimen').prop('checked', false);
                $("#div_BlockTable  #tblblock tbody").html();
                $("#numberOfBlocks").val(0)
                $('#div_Slides ').css('display', 'block');
                $('#div_Blocks').css('display', 'none');
            }
            else {
                $('#div_Slides').css('display', 'none');
            }
        });
        //create table on blur
        $("#numberOfBlocks").blur(function () {
            TableCreat(this.value, blktbody)
        });
        $("#numberOfSlides").blur(function () {
            TableCreat(1, slidetbody)

        });

        function TableCreat(_rowscount, _diID) {
            debugger;
            var html = ''
            for (var i = 1; i <= _rowscount; i++) {
                html += '<tr align="center"><td> <input type="text" class="gridblocks" name="blocks" value="" /></td></tr>'
            }
            $(_diID).html(html);
        }
    </script>
    @*btnship*@
    <script>
        $(document).ready(function () {
            $('#btnShip').click(function () {
                var data1 = new Object();
                data1.ID = $('#ID').val();
                data1.Form_BlockID = $('#T1_PatientID option:selected').text() + '-BLK';

                if ($("#dateShippedToDivisionOfPathology").val() == "") {
                    alert('Please enter Shipping Date');
                    $("#dateShippedToDivisionOfPathology").focus();
                    return;
                } else {

                    data1.dateShippedToDivisionOfPathology = $("#dateShippedToDivisionOfPathology").val();
                }
                if ($("#shippingCompanyID").val() == "") {
                    alert('Please select shippingCompany');
                    $("#shippingCompanyID").focus();
                    return;
                } else {
                    data1.shippingCompanyID = $('option:selected', $("#shippingCompanyID")).val();
                }
                if ($("#trackingNumber").val() == "") {
                    alert('Please enter Tracking Number');
                    $("#trackingNumber").focus();
                    return;
                } else {
                    data1.trackingNumber = $("#trackingNumber").val();
                }
                FormBLK_SaveShipmnt(data1);

            });
        });
        function FormBLK_SaveShipmnt(data1) {
            $.post("/Form_BLK/FormBLK_SaveShipmnt", data1,
                   function (data1) {
                       if (data1.status == 'Success') {
                           $("#div_formblk_shippemnt *").prop('disabled', true);
                           $("#div_formblk *").prop('disabled', true);

                           alert('Form Block shipped successfully');
                       }
                       else {
                           alert(data1.status);
                       }
                   }).fail(function () {
                       alert("error");
                   });
        }
    </script>
    @*//btnsave*@
    <script>
        $(document).ready(function () {
            $('#btnSave').click(function () {
                
                var data1 = new Object();
                data1.ID = $("#ID").val();
                data1.Form_BlockID = $("#Form_BlockID").val();
                data1.Site_Name = $("#Site_Name").val();
                data1.FormBLK_PersonCompletingForm_LName = $("#FormBLK_PersonCompletingForm_LName").val();
                data1.FormBLK_PersonCompletingForm_Phone = $("#FormBLK_PersonCompletingForm_Phone").val();
                data1.FormBLK_PersonCompletingForm_FName = $("#FormBLK_PersonCompletingForm_FName").val();
                data1.FormBLK_PersonCompletingForm_Email = $("#FormBLK_PersonCompletingForm_Email").val();
                if ($("#SiteID").val() == "") {
                    alert('Please select Site');
                    $("#SiteID").focus();
                    return;
                } else {

                    data1.SiteID = $("#SiteID").val();
                }

                if ($("#T1_PatientID").val() == "") {
                    alert('Please select Patient');
                    $("#T1_PatientID").focus();
                    return;
                } else {

                    data1.T1_PatientID = $("#T1_PatientID").val();
                }
                if ($("#FormBLK_Patology_Accession_Number").val() == "") {
                    alert('Please select Pathology Accession Number');
                    $("#FormBLK_Patology_Accession_Number").focus();
                    return;
                } else {

                    data1.FormBLK_Patology_Accession_Number = $("#FormBLK_Patology_Accession_Number").val();
                }


                if ($('input[name=isFromDiagnosticBreastBiopsy]:checked').val() == undefined) {
                    alert('Please check Is this the sample from Diagnostic Breast Biopsy?');
                    $("#isFromDiagnosticBreastBiopsy").focus();
                    return;
                } else {

                    data1.isFromDiagnosticBreastBiopsy = $('input[name=isFromDiagnosticBreastBiopsy]:checked').val();
                }

                if ($('#FPPE_FromTheDiagnostiBreastBiopsySpecimen').is(":checked") || $('#UnstainedSlidesFromDiagnosticBreastBiopsy').is(":checked")) {
                    data1.FPPE_FromTheDiagnostiBreastBiopsySpecimen = $('#FPPE_FromTheDiagnostiBreastBiopsySpecimen').is(":checked");
                    data1.UnstainedSlidesFromDiagnosticBreastBiopsy = $('#UnstainedSlidesFromDiagnosticBreastBiopsy').is(":checked");
                } else {
                    alert('Please choose FFPE from the diagnostic breast biopsy specimen  (or) Unstained slides from the diagnostic breast biopsy specimen');
                    $("#FPPE_FromTheDiagnostiBreastBiopsySpecimen").focus();
                    return;
                }

                if ($('#FPPE_FromTheDiagnostiBreastBiopsySpecimen').is(":checked") && $("#numberOfBlocks").val() == "") {
                    alert('Please enter number of blocks');
                    $("#numberOfBlocks").focus();
                    return;
                }
                else {
                    data1.numberOfBlocks = $("#numberOfBlocks").val();

                }
                if ($('#UnstainedSlidesFromDiagnosticBreastBiopsy').is(":checked") && $("#numberOfSlides").val() == "") {
                    alert('Please enter number of slides');
                    $("#numberOfSlides").focus();
                    return;
                }
                else {
                    data1.numberOfSlides = $("#numberOfSlides").val();

                }
                var sitename = new Array();
                var breakOut = false;
                if ($("#numberOfSlides").val() > "0" || $("#numberOfBlocks").val > "0") {
                    $(".gridblocks").each(function () {
                        if (sitename.indexOf($(this).val()) == -1) {
                            if ($(this).val() != 'undefined' && $(this).val() != "")
                                sitename.push($(this).val());
                            else {
                                alert('Please enter BlockID');
                                breakOut = true;
                                return false;
                            }

                        }

                    })
                }
                if (breakOut != true) {
                    data1.temp = sitename.toString();
                    FormBLK_Create(data1);
                }
            });
        });
        function FormBLK_Create(data1) {
            $.post("/Form_BLK/FormBLK_Create", data1,
                   function (data1) {
                       if (data1.status == 'Success') {
                           $("#div_formblk *").prop('disabled', true);
                           $("#div_formblk_shippemnt *").prop('disabled', false);
                           alert('Form Block created successfully');
                       }
                       else {
                           alert(data1.status);
                       }
                   }).fail(function () {
                       alert("error");
                   });
        }
    </script>
</body>
</html>
