﻿@model IEnumerable<NSABP_Model_BO_.FormBNK_BO>
@{
    ViewBag.Title = "FormBNK_Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FormBNK_Details</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-bordered " id="tbl_FormBnkDetails">
    <thead>
        <tr>

            <th>
                BNKID
            </th>

            <th>
                SiteID
            </th>

            <th>
                Lab Number
            </th>
            <th>
                Storage Squence Number
            </th>

            <th>
                Site Name
            </th>
            <th>
                Patient ID
            </th>

            <th>
                shipping Company
            </th>
            <th>
                Tracking Number
            </th>
            <th>
                Shipment Date
            </th>
            <th>
                DMG Receieved BY
            </th>
            <th>
                Notes
            </th>
            <th>
                DMG Receieved on
            </th>
            <th>
                Received Condition
            </th>

            <th>
                Date D1C1 of neratinib and TDM1
            </th>
            <th>
                Time neratinib dose was taken D1C1
            </th>
            <th>
                Time DM1 dose D1C1 started
            </th>
            <th>
                Date samples Collected C1D1
            </th>
            <th>
                Peripheral or Central  C1D1
            </th>
            <th>
                Time_Centrifugation_occured_C1D1
            </th>
            <th>
                No_of_Blue_Top_microtubes_frozen_prior_to_C1D1
            </th>
            <th>
                No_of_Yellow_Top_microtubes_frozen_prior_to_C1D1
            </th>

            <th>
                CREATED_BY
            </th>

            <th>
                Created_On
            </th>
            <th>
                MODIFIED_BY
            </th>
            <th>
                Modified_On
            </th>
            <th>
                Record Status
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormBNKID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Lab_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Storage_Squence_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Site_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shippingCompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trackingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateShippedToDivisionOfPathology)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DMG_Receieved_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DMG_Receieved_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Received_Condition)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Dt_of_D1C1_of_neratinib_and_TDM1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time_neratinib_dose_was_taken_D1C1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time_TDM1_dose_D1C1_started)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dt_samples_Collected_C1D1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peripheral_Venious_Central_Access_Deveice_C1D1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time_Centrifugation_occured_C1D1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.No_of_Blue_Top_microtubes_frozen_prior_to_C1D1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.T50_User_ID_CREATED_BY)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Created_On)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.T50_User_ID_MODIFIED_BY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified_On)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Record_Status)

                </td>
                <td>
                    <button type="button" value="EDIT" class="btn btn-primary" onclick="AddEditBNK(@item.ID)"> EDIT</button>
                </td>

            </tr>
        }
    </tbody>

</table>

<div id="myModal" class="modal fade " role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#tbl_FormBnkDetails').DataTable({
            dom: 'Bfrtip',
            "scrollY": "300px",
            "scrollX": "250px",
            "scrollCollapse": true,
            "columnDefs": [{
                "targets": [19, 20, 21, 22, 23, 24],
                "visible": false,
                "searchable": false
            }
            ],

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]

        });
    });

</script>
<script>
    var AddEditBNK = function (BNKFormID) {

        var url = "/Form_BNK/FormBNKEdit?ID=" + BNKFormID;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");

        })

    }
</script>

