﻿<div is="ChangePWD">
    <section id="wrapper">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center m-b-20">Change Password</h3>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" name="NewPassword1" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" data-validation-match-match="NewPassword1" required="" name="NewPassword2" placeholder="COnfirm Password">
                    </div>
                </div>

                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                        <button class="btn btn-block btn-lg btn-info btn-rounded" type="button">Change Password</button>
                    </div>

                </div>


            </div>
        </div>
    </section>
</div>