﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">

    <title>User Login</title>
    @*<link href="dist/css/pages/login-register-lock.css" rel="stylesheet">*@
    <link href="~/dist/css/pages/login-register-lock.css" rel="stylesheet" />
    <link href="~/dist/css/style.min.css" rel="stylesheet">

</head>
<body class="skin-default card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">User Login</p>
        </div>
    </div>

    <section id="wrapper">
        @*style="background-image:url(~/assets/images/background/login-register.jpg);"*@
        <div class="login-register">
            <div class="login-box card">
                @{
                    if (ViewBag.Message != null)
                    {
                        if (ViewBag.Message.Contains("Fail"))
                        {
                            <div class="alert alert-danger alert-dismissible col-md-12" id="myAlert">
                                <a href="#" class="close">&times;</a>
                                <strong>@ViewBag.Message</strong>
                            </div>
                        }


                    }
                }
                <div class="card-body">
                    <h3 class="text-center m-b-20">Sign In</h3>

                    @*<form class="form-horizontal form-material" action="LoginPage">*@
                    @using (Html.BeginForm("LoginPage", "UserLogin", FormMethod.Post))
                    {

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" name="UserName" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required="" name="PWD" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="d-flex no-block align-items-center">
                                    <div class="ml-auto">
                                        <a href="javascript:void(0)" id="to-recover" class="text-muted"><i class="fas fa-lock m-r-5"></i> Forgot pwd?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                            </div>
                        </div>
                    }
                    @*</form>*@
                </div>
            </div>
        </div>
    </section>

    <script src="~/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".close").click(function () {
                $("#myAlert").alert("close");
            });
            $('#btnlogin').click(function () {
                //var data = JSON.stringify($("#testform").serialize())  ;
                //if ($('#txtusername').val() == '') {
                //    alert('Please enter User name.');
                //    return false;
                //}
                //if ($('#txtpwd').val() == '') {
                //    alert('Please enter password.');
                //    return false;
                //}
                debugger;
                $.post("/UserLogin/LoginPage", { Username: "", PWD: "" }, function (data) {
                    alert(data.status);
                });
            });
        });
       
    </script>

</body>
</html>
